:root{
    --bg-body: #1E213F;
    --text: #D7E0FF;
    --text-dark: #1E213F;
    --bg: #FFFFFF;
    --input: #EFF1FA;
    --background-timer: #161932;
    --settings: #161932;
    --default: #F87070;
    --blue: #70F3F8;
    --purple: #D881F8;

}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    background-color: var(--bg-body);
}
h1,h2{
    color: var(--text);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    margin-top: 5rem;
    max-width: 700px;
    width: 100%;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: currentColor;
}
.options button{
    background-color: transparent;
    border: none;
    color: rgb(109, 101, 101);
    font-weight: 900;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 1rem ;
    border-radius: 50px;
    flex: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.options button.active{
    background-color: var(--default);
    color: var(--background-timer);
    box-shadow: rgba(175, 186, 198, 0.3) 0px 1px 2px 0px, rgba(206, 217, 225, 0.15) 0px 2px 6px 2px;
}
.options button:hover,.options button:focus{
    background-color: var(--default);
    color: var(--background-timer);
}
.options{
    padding: 1rem;
    border-radius: 50px;
    background-color: var(--background-timer);
    display: flex;
    width: 100%;
    gap: 0.5rem;
    box-shadow: var(--text) 0px 2px 4px 0px, var(--text) 0px 2px 16px 0px;
}

.timer{
    max-width:  400px;
    height: 400px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--bg-body);
    background-image: linear-gradient(280deg,var(--bg-body),var(--background-timer));
    overflow: hidden;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(131, 131, 220, 0.256) 0px 10px 36px 0px, rgba(131, 131, 220, 0.256) 0px 0px 0px 1px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--default);
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: conic-gradient(var(--default) 360deg, var(--background-timer) 0deg);
}
/* .circle::before{
    content:'';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--background-timer);
} */
.timer_content{
    width: 90%;
  height: 90%;
  border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-timer);
    color: var(--text);
    text-align: center;
}
h2{
    font-size: 5rem;
    display: flex;
}
.timer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timer_content button{
    letter-spacing:1.5rem;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
}
@media (max-width:500px) {
    .options{
        padding: 0.5rem;
    }
    .options button{
        padding-inline: 0.5rem;
        font-size: 0.8rem;
    }
    .timer{
        margin-inline: 1rem;
    }
}